body{
    background-image: url(img/fondo.jpg);
}
#nombresitio{
    display: flex;
    color: #FE9F37;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    padding: 7%;
    padding-top: 1%;
}
#menu nav div ul a{
    list-style: none;     
    text-decoration: none ;    
    display: block;
    color: white;
    font-size: 2em;
    padding-left: 10px;
    padding-top: 20px;
}
#menu nav div ul a:hover{
    font-size: 3em;
    color: violet;
}
#end h5{
    text-align: center;
    color: #310057;
}
#end h6{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
}